In [25]:
import os
import pandas as pd

In [26]:
df_dict = {}

for dirname, _, filenames in os.walk('./data'):
    for filename in filenames:
        csv_path = os.path.join(dirname, filename)
        df_name = csv_path.split('/')[-1].split('.')[0]
        df_dict[df_name] = pd.read_csv(csv_path, sep=';', thousands='.')

In [27]:
yearly_dict = {}

for key, value in df_dict.items():
    year = key[2:4]
    yearly_dict[year] = {}

for key, value in df_dict.items():
    year = key[2:4]
    month = key[-2:]
    yearly_dict[year][month] = value

In [28]:
yearly_dict = dict(sorted(yearly_dict.items()))

In [29]:
print(yearly_dict.keys())
print(yearly_dict['14'].keys())

for year, month_dict in yearly_dict.items():
    yearly_dict[year] = dict(sorted(month_dict.items()))

dict_keys(['14', '15', '16', '17', '18', '19', '20', '21', '22'])
dict_keys(['06', '12', '09'])

In [30]:
drop_cols = ['Código', 'TCB', 'TD', 'TC', 'SR', 'Segmento', 'Cidade',
       'UF', 'Data', 'Total Exterior', 'Unnamed: 21']


for month_dict in yearly_dict.values():
    for month_df in month_dict.values():
        month_df.drop(columns=drop_cols, inplace=True)

instituições (coluna A):
- sicredi
- sicoob
- itau
- banco do brasil
- bradesco
- caixa economica federal
- santander

In [31]:
insts = ['SICREDI', 'SICOOB', 'ITAU', 'BB', 'BRADESCO', 'CAIXA ECONOMICA FEDERAL', 'SANTANDER']

In [32]:
month_df = yearly_dict['14']['06']

In [33]:
for column in month_df.columns:
    if 'I' not in column:
        month_df[column] = month_df[column].str.replace('.', '')
        month_df[column] = pd.to_numeric(month_df[column], errors='coerce')
        month_df[column].dropna()

In [34]:
month_df.head()

,Instituição,Total Geral,AA,A,B,C,D,E,F,G,H
0,BB,611908236.0,331706772.0,83722350.0,101703169.0,19049090.0,3358464.0,8095892.0,3218540.0,2435374.0,12675652.0
1,CAIXA ECONOMICA FEDERAL,547316314.0,193604599.0,193878199.0,59466705.0,56182839.0,18131532.0,5564029.0,2606361.0,2062745.0,15819304.0
2,ITAU,465165956.0,150045738.0,110524669.0,26296642.0,14279656.0,6316519.0,3425416.0,2927360.0,2993473.0,11368812.0
3,BRADESCO,310086854.0,37258941.0,125398961.0,59799680.0,44351609.0,5836320.0,3152102.0,2731945.0,1893383.0,10017319.0
4,BANCO NACIONAL DE DESENVOLVIMENTO ECONOMICO E ...,293238497.0,110965903.0,100574144.0,71221403.0,9249429.0,123749.0,636624.0,70231.0,10517.0,386498.0